@import '../../../../sass/variables';

:host {
  width: 100%;
  max-width: 680px;
  display: block;
}

.form-group-title {
  display: flex;

  span {
    flex: 1 0;
  }
}

.email-alias-info {
  // TODO GBJ: Add to component.
  display: flex;
  align-items: center;
  background-color: $white;
  border: 1px solid $gray-100;
  color: $gray-600;
  border-radius: 5px;
  margin: 10px 0;
  margin-top: -10px;
  padding: 0 15px;
}


.mat-column-alias {
  padding-right: 0;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.mat-column-remove {
  width: 30px;
}
