<h3 class="form-group-title">
  <span>Email Aliases</span>
  <button mat-stroked-button color="primary" (click)="showAddDialog()">Add Email Alias</button>
</h3>
@if (!hasAliases && level === 'repo') {
  <div class="email-alias-info">
    <p>No email alias overrides added for this repository yet.</p>
  </div>
}
<dx-data-grid
  class="slack-email-aliases-grid"
  [dataSource]="emails"
  keyExpr="email"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [width]="600">
  <dxi-column dataField="email" dataType="string"></dxi-column>
  <dxi-column caption="Alias" dataType="object" cellTemplate="aliasCellTemplate"></dxi-column>
  <div *dxTemplate="let d of 'aliasCellTemplate'">
    @if (emails && emails.length > 0) {
      <dx-text-box [(value)]="slack.emailAliases[bindingLevel][d.data?.email]" [disabled]="!hasAliases"></dx-text-box>
    }
  </div>
  <dxi-column caption="Actions" dataType="object" [width]="70" cellTemplate="actionsCellTemplate"></dxi-column>
  <div *dxTemplate="let d of 'actionsCellTemplate'">
    <button mat-icon-button color="warn" title="Remove alias" (click)="remove(d.data?.email)" [disabled]="!hasAliases">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</dx-data-grid>
