<h2>
  Environment States
  <button mat-icon-button title="Refresh" class="mat-accent" (click)="environtmentsGrid.updateStateComparison()">
    <mat-icon>sync</mat-icon>
  </button>
</h2>

<form class="form-horizontal environments-form">
  <mat-form-field>
    <mat-label>Source Environment</mat-label>
    <mat-select
      placeholder="Loading..."
      [value]="sourceEnvironment"
      (selectionChange)="sourceEnvironmentChanged($event)">
      <mat-select-trigger>
        {{ sourceEnvironment?.name }}
      </mat-select-trigger>
      @for (environment of environments; track environment) {
        <mat-option [value]="environment">{{ environment.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Target Environment</mat-label>
    <mat-select
      placeholder="Loading..."
      [value]="targetEnvironment"
      (selectionChange)="targetEnvironmentChanged($event)">
      <mat-select-trigger>
        {{ targetEnvironment?.name }}
      </mat-select-trigger>
      @for (environment of environments; track environment) {
        <mat-option [value]="environment">{{ environment.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>

<app-environments-grid
  [sourceEnvironment]="sourceEnvironment"
  [targetEnvironment]="targetEnvironment"></app-environments-grid>
