<dx-select-box
  class="source-environment-select"
  placeholder="Loading..."
  [dataSource]="environments"
  [value]="sourceEnvironment"
  [displayExpr]="environmentDisplayExpr"
  (onSelectionChanged)="sourceEnvironmentChanged($event)">
</dx-select-box>
<dx-select-box
  class="target-environment-select"
  placeholder="Loading..."
  [dataSource]="environments"
  [value]="targetEnvironment"
  [displayExpr]="environmentDisplayExpr"
  (onSelectionChanged)="targetEnvironmentChanged($event)">
</dx-select-box>

@if (stateComparison) {
  <dx-data-grid
    class="environment-table"
    [dataSource]="stateComparison.serviceComparisons"
    keyExpr="name"
    [showBorders]="true"
    [rowAlternationEnabled]="true">
  </dx-data-grid>
}
