@import '../../sass/variables';

:host {
  flex: 1 1 auto;
}

.environments-form {
  display: flex;
  margin-bottom: 15px;
}

.settings-info {
  max-width: 500px;
  margin-top: 200px;
  display: block;
}
