<dx-popup
  [width]="450"
  [height]="300"
  [showTitle]="true"
  title="Add Repository"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="visible"
  (visibleChange)="onVisibleChange()">
  <div class="form">
    <div class="dx-field">
      <div class="dx-field-label dx-field-item-label-location-top">Owner</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="owner"></dx-text-box>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">Repo</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="repo"></dx-text-box>
      </div>
    </div>

    <div class="actions">
      <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="add()" [disabled]="processing">Add Repository</button>
    </div>
  </div>
</dx-popup>
