<h2 mat-dialog-title>Add Repository</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="fields-fill-width">
    <mat-form-field>
      <mat-label>Owner</mat-label>
      <input matInput type="text" formControlName="owner" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repository</mat-label>
      <input matInput type="text" formControlName="repo" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button class="mat-primary" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    class="mat-primary"
    (click)="add()"
    [loading]="processing"
    [disabled]="processing || !form.valid">
    Add Repository
  </button>
</mat-dialog-actions>
