@import 'variables';

.status-dialog-popup {
  display: flex;
  flex-direction: column;
  grid-row-gap: 18px;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: inherit;
  padding: 4px;

  .success {
    color: $green-700;
  }

  .error {
    color: $orange-700;
  }

  .congratulations {
    color: $blue-700;
  }

  .error-icon {
    color: $orange-700;
  }

  .errors {
    overflow: auto;
    max-height: 120px;
    width: 480px;
    border: 1px solid $gray-300;

    ul {
      list-style: none;
      margin-top: 10px;
    }
  }

  .buttons {
    display: flex;
    grid-column-gap: 8px;
  }

  .content {
    display: grid;
    justify-items: center;

    ::ng-deep ul {
      padding: 0;
    }

    ::ng-deep a {
      font-size: 14px;
      color: $blue-700;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .do-not-show-again {
    margin-bottom: 12px;
  }
}
