<h2 mat-dialog-title>Force Deploy {{ data.environment }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <p>Choose a pull request to force to {{ data.environment }}:</p>
    <mat-form-field>
      <mat-label>Pull Request</mat-label>
      <input
        #input
        type="text"
        formControlName="pullRequest"
        placeholder="Select pull request"
        matInput
        [matAutocomplete]="auto" />
      @if (selectedPullRequest) {
        <button mat-icon-button matSuffix class="clear-field-btn" (click)="clearPullRequest($event)">
          <mat-icon matSuffix>close</mat-icon>
        </button>
      }
      <mat-icon matSuffix>arrow_drop_down</mat-icon>
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="formatPullRequest"
        (optionSelected)="selectPullRequest($event)">
        @for (pullRequest of openPullRequests; track pullRequest.number) {
          <mat-option [value]="pullRequest">
            {{ formatPullRequest(pullRequest) }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-checkbox formControlName="retainLocks"> Retain locks </mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="forceDeploy()"
    [disabled]="!form.valid || !selectedPullRequest || processing">
    Deploy
  </button>
</mat-dialog-actions>
