<h2>
  Deployments
  <button mat-icon-button title="Refresh" color="accent" (click)="update()">
    <mat-icon>sync</mat-icon>
  </button>
</h2>
@if (repoManager.repo) {
  <app-environment-list [data]="deployEnvironments" [loading]="loading"></app-environment-list>
}

<h2>
  Queues
  <button mat-icon-button title="Refresh" color="accent" (click)="update()">
    <mat-icon>sync</mat-icon>
  </button>
</h2>
@if (deployQueues.length > 0) {
  <mat-accordion>
    @for (queue of deployQueues; track queue.environment) {
      <mat-expansion-panel
        expanded="{{ queue.environment === selectedEnvironment }}"
        (opened)="selectedQueueChange(queue)">
        <mat-expansion-panel-header>
          <div class="queue-title">
            <span class="queue-environment">{{ queue.environment }}</span>
            <span class="queue-count">{{ queue.pullRequests.length }}</span>
            @if (queue.pullRequests.length) {
              <button
                mat-icon-button
                color="accent"
                title="Trigger deployments"
                (click)="triggerDeployments($event, queue)">
                <mat-icon>refresh</mat-icon>
              </button>
            }
          </div>
        </mat-expansion-panel-header>
        @if (repoManager.repo) {
          <app-queue-list
            [queue]="queue"
            [loading]="loading"
            (queueUpdateStarted)="queueUpdateStarted()"
            (queueUpdateComplete)="queueUpdateComplete()"></app-queue-list>
        }
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <mat-spinner class="loading-spinner"></mat-spinner>
}

<div class="page-actions">
  <button mat-stroked-button color="primary" class="add-service-pr-btn" (click)="showAddServiceToPr()">
    Add Services to Pull Request
  </button>
</div>
