<h3>
  Deployments
  <button mat-icon-button color="accent" (click)="update()">
    <mat-icon>sync</mat-icon>
  </button>
</h3>
@if (repoManager.repo) {
  <app-environment-list [data]="deployEnvironments" [loading]="loading"></app-environment-list>
}

<h3>
  Queues
  <button mat-icon-button color="accent" (click)="update()">
    <mat-icon>sync</mat-icon>
  </button>
</h3>
@if (deployQueues.length > 0) {
  <dx-accordion
    [dataSource]="deployQueues"
    [selectedIndex]="selectedQueueIndex"
    (selectedItemChange)="selectedQueueChange($event)"
    id="accordion-container">
    <div *dxTemplate="let queue of 'title'">
      <div class="queue-title">
        <span class="queue-environment">{{ queue.environment }}</span>
        <span class="queue-count">{{ queue.pullRequests.length }}</span>
        @if (queue.pullRequests.length) {
          <button mat-icon-button color="accent" (click)="triggerDeployments(queue)">
            <mat-icon>refresh</mat-icon>
          </button>
        }
      </div>
    </div>
    <div *dxTemplate="let queue of 'item'">
      @if (repoManager.repo) {
        <app-queue-list
          [queue]="queue"
          [loading]="loading"
          (queueUpdateStarted)="queueUpdateStarted()"
          (queueUpdateComplete)="queueUpdateComplete()"></app-queue-list>
      }
    </div>
  </dx-accordion>
} @else {
  Loading...
}

<div class="page-actions">
  <button mat-flat-button color="primary" class="add-service-pr-btn" (click)="showAddServiceToPr()">
    Add Services to Pull Request
  </button>
</div>

<app-add-pr-service-dialog [(visible)]="addServiceToPrVisible"></app-add-pr-service-dialog>
