<h3>
  Deployments
  <dx-button class="refresh-btn" icon="refresh" hint="Refresh" stylingMode="text" (onClick)="update()"></dx-button>
</h3>
@if (repoManager.repo) {
  <app-environment-list [data]="deployEnvironments" [loading]="loading"></app-environment-list>
}

<h3>
  Queues
  <dx-button class="refresh-btn" icon="refresh" hint="Refresh" stylingMode="text" (onClick)="update()"></dx-button>
</h3>
@if (deployQueues.length > 0) {
  <dx-accordion
    [dataSource]="deployQueues"
    [selectedIndex]="selectedQueueIndex"
    (selectedItemChange)="selectedQueueChange($event)"
    id="accordion-container">
    <div *dxTemplate="let queue of 'title'">
      <div class="queue-title">
        <span class="queue-environment">{{ queue.environment }}</span>
        <span class="queue-count">{{ queue.pullRequests.length }}</span>
        @if (queue.pullRequests.length) {
          <dx-button
            class="trigger-deployments"
            icon="redo"
            hint="Trigger deployments"
            stylingMode="text"
            (onClick)="triggerDeployments(queue)"></dx-button>
        }
      </div>
    </div>
    <div *dxTemplate="let queue of 'item'">
      @if (repoManager.repo) {
        <app-queue-list
          [queue]="queue"
          [loading]="loading"
          (queueUpdateStarted)="queueUpdateStarted()"
          (queueUpdateComplete)="queueUpdateComplete()"></app-queue-list>
      }
    </div>
  </dx-accordion>
} @else {
  Loading...
}

<div class="page-actions">
  <dx-button
    class="add-service-pr-btn"
    text="Add Services to Pull Request"
    type="normal"
    (onClick)="showAddServiceToPr()"
    height="40">
  </dx-button>
</div>

<app-add-pr-service-dialog [(visible)]="addServiceToPrVisible"></app-add-pr-service-dialog>
