@import '../../sass/variables';

:host {
  flex: 1 1 auto;
}

.queue-title {
  display: flex;
  align-items: center;
}

.queue-environment {
  width: 70px;
  text-transform: capitalize;
}

.queue-count {
  background-color: $gray-200;
  color: $gray-500;
  font-weight: $font-weight-bold;
  font-size: 14px;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}

.loading-spinner {
  margin: 0 auto;
}

.trigger-deployments {
  margin-left: auto;
  margin-right: 15px;
}
