<h3>
  Settings
  <dx-button
    class="primary-icon-btn"
    icon="refresh"
    hint="Refresh"
    stylingMode="text"
    (onClick)="updateSettings()"></dx-button>
</h3>

<div class="settings-header">
  <dx-tabs
    class="settings-tabs"
    [selectedIndex]="0"
    [dataSource]="ownerRepoTabs"
    [width]="300"
    (onSelectionChanged)="selectedLevelChanged($event)"
    stylingMode="primary"></dx-tabs>
  <div class="settings-actions">
    <dx-button text="Save" type="default" (onClick)="save()"></dx-button>
    <dx-button text="Cancel" (onClick)="cancel()"></dx-button>
  </div>
</div>
<div class="tab-description {{ level }}">
  <i class="bi bi-info-circle"></i>
  <p>
    @if (level === 'owner') {
      Default settings to be used for all repositories within owner <strong>{{ this.repoManager.owner }}</strong
      >.
    } @else {
      Override settings for the repository <strong>{{ this.repoManager.repo }}</strong
      >.
    }
  </p>
</div>
<app-settings-form [level]="level"></app-settings-form>
