@import '../../sass/variables';

:host {
 max-width: 1300px;
 display: flex;
 flex-direction: column;
 flex: 1 1 auto;
}

.settings-actions {
  margin-left: auto;
  display: flex;
  margin-bottom: 10px;

  :first-child {
    margin-right: 10px;
  }
}

::ng-deep .mat-mdc-tab.mdc-tab {
  max-width: 200px;
}
