<h3>
  Settings
  <button mat-icon-button title="Refresh" color="accent" (click)="updateSettings()">
    <mat-icon>sync</mat-icon>
  </button>
  <div class="settings-actions">
    <button mat-stroked-button color="primary" (onClick)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" (onClick)="save()">Save</button>
  </div>
</h3>

<mat-tab-group (selectedTabChange)="selectedLevelChanged($event)">
  <mat-tab label="Owner Defaults" class="settings-tab">
    <app-alert-panel type="info" class="tab-alert">
      Default settings to be used for all repositories within owner&nbsp;<strong>{{ this.repoManager.owner }}</strong>
    </app-alert-panel>
    <app-settings-form level="owner"></app-settings-form>
  </mat-tab>
  <mat-tab label="Repository Override" class="settings-tab">
    <app-alert-panel type="success" class="tab-alert">
      Override settings for the repository&nbsp;<strong>{{ this.repoManager.repo }}</strong>
    </app-alert-panel>
    <app-settings-form level="repo"></app-settings-form>
  </mat-tab>
</mat-tab-group>
