@import '../../../../sass/variables';

:host {
  display: block;
  padding: 25px 0 25px 0;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
  margin: 0;

  li {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: $gray-600;
      text-decoration: none;

      &:hover {
        color: $body-color;
      }
    }
  }
}
