@import '../../../../dx-styles.scss';
@import '../../../../sass/variables';

.mat-tree {
  padding-top: 14px;
  background-color: $gray-400;
  width: 100%;
}

.mat-tree-node {
  min-height: auto;
}

.nav-item {
  display: flex;
  padding: 0 15px;
  text-decoration: none;
  color: $gray-600;
  flex: 1 1 auto;
  height: 50px;
  align-items: center;;

  &:hover {
    background-color: $gray-300;
  }

  &.router-link-active {
    background-color: $body-bg;
    border-right: 1px solid $gray-400;

    .mat-icon {
      color: $blue-300;
    }
  }

  .mat-icon {
    margin-right: 15px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;

  .menu-container {
    min-height: 100%;
    display: flex;
    flex: 1;
  }
}
