<h2 mat-dialog-title>Add Slack Email Alias</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="fill-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button class="mat-primary" (click)="cancel()">Cancel</button>
  <button mat-flat-button class="mat-primary" (click)="add()" [disabled]="!form.valid">Add Alias</button>
</mat-dialog-actions>
