<h2 mat-dialog-title>Add Service to Exclude from Rollback</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="fill-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="add()">Add Exclude</button>
</mat-dialog-actions>
