<h2 mat-dialog-title>Add Services to Pull Request</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="fill-width">
      <mat-label>Pull Request</mat-label>
      <input
        #input
        type="text"
        formControlName="pullRequest"
        placeholder="Select pull request"
        matInput
        [matAutocomplete]="auto" />
      @if (selectedPullRequest) {
        <button mat-icon-button matSuffix class="clear-field-btn" (click)="clearPullRequest($event)">
          <mat-icon matSuffix>close</mat-icon>
        </button>
      }
      <mat-icon matSuffix>arrow_drop_down</mat-icon>
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="formatPullRequest"
        (optionSelected)="selectPullRequest($event)">
        @for (pullRequest of openPullRequests; track pullRequest.number) {
          <mat-option [value]="pullRequest">
            {{ formatPullRequest(pullRequest) }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    @if (loadingServices || repositoryServices?.length > 0) {
      <div class="services-container">
        <label>Services*</label>
        <mat-selection-list class="services-list" (selectionChange)="onSelectedServicesChange()">
          @for (service of repositoryServices; track service) {
            <mat-list-option [value]="service">{{ service }}</mat-list-option>
          }
        </mat-selection-list>
      </div>
    } @else {
      <app-alert-panel class="services-info" type="danger">
        You must first configure services in&nbsp;
        <a [routerLink]="['/', repoManager.owner, repoManager.repo, 'settings', 'repo']">Settings</a>.
      </app-alert-panel>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button class="mat-primary" (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    class="mat-primary"
    (click)="addServicesToPr()"
    [loading]="processing"
    [disabled]="!selectedPullRequest || processing || !selectedServices?.length">
    Add Services
  </button>
</mat-dialog-actions>
