<header>
  <mat-toolbar class="header-toolbar">
    <div class="header-left">
      @if (menuToggleEnabled) {
        <button mat-icon-button class="menu-button" (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <img class="header-logo" src="/assets/images/logo.svg" alt="Logo" />
    </div>
    <div class="header-right">
      <mat-form-field class="small-form-field owner-select">
        <mat-select
          placeholder="Loading..."
          [value]="repoManager.owner"
          (selectionChange)="selectedOwnerChanged($event)">
          @for (owner of owners; track owner) {
            <mat-option [value]="owner">{{ owner }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="small-form-field repo-select">
        <mat-select placeholder="Loading..." [value]="repoManager.repo" (selectionChange)="selectedRepoChanged($event)">
          @for (repo of repos; track repo) {
            <mat-option [value]="repo">{{ repo }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <app-user-panel></app-user-panel>
    </div>
  </mat-toolbar>
</header>
