$base-font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
$base-accent: #1192ec;
$base-label-color: #333333;
$base-link-color: #1192ec;
$base-icon-color: #333333;
$base-text-color: #333333;
$base-bg: #ffffff;
$base-border-color: #dddddd;
$base-border-radius: 4px;
$base-success: #5cb85c;
$base-warning: #f0ad4e;
$base-danger: #d9534f;
$base-hover-color: #333333;
$base-hover-bg: #0000000a;
$base-focus-color: #ffffff;
$base-focus-bg: #1192ec;
$base-invalid-color: #d9534f;
$base-invalid-faded-border-color: #d9534f66;
$button-normal-color: #333333;
$button-normal-bg: #ffffff;
$button-normal-border-color: #dddddd;
$button-normal-contained-bg-selected: #d4d4d4;
$button-normal-outlined-bg-selected: #0000002b;
$button-normal-text-bg-selected: #0000002b;
$button-default-color: #ffffff;
$button-default-bg: #1192ec;
$button-default-border-color: #0f83d4;
$button-default-contained-bg-selected: #0b609b;
$button-default-outlined-bg-selected: #1192ec4d;
$button-default-text-bg-selected: #1192ec4d;
$button-danger-color: #ffffff;
$button-danger-bg: #d9534f;
$button-danger-border-color: #d43f3a;
$button-danger-contained-bg-selected: #ac2925;
$button-danger-outlined-bg-selected: #d9534f4d;
$button-danger-text-bg-selected: #d9534f4d;
$button-success-color: #ffffff;
$button-success-bg: #5cb85c;
$button-success-border-color: #4cae4c;
$button-success-contained-bg-selected: #398439;
$button-success-outlined-bg-selected: #5cb85c4d;
$button-success-text-bg-selected: #5cb85c4d;
$list-border-color: #dddddd;
$list-group-color: #333333;
$list-group-header-bg: #eeeeee0d;
$list-normal-color: #333333;
$list-item-hover-bg: #0000000a;
$list-item-selected-bg: #0000001a;
$list-item-focused-selected-bg: #1192ecb3;
$list-focused-bg: #1192ec;
$list-item-active-bg: #1192ec;
$fieldset-field-label-color: #333333;
$checkbox-border-color: #dddddd;
$checkbox-border-color-focused: #1192ec;
$checkbox-bg: #ffffff;
$checkbox-hover-border-color: #0d6fb3;
$checkbox-active-icon-bg: #60606033;
$scrollable-scroll-bg: #bfbfbfb3;
$scrollable-scrollbar-active-bg: #bfbfbf33;
$switch-border-color: #dddddd;
$switch-on-color: #333333;
$switch-container-active-bg: #60606033;
$switch-off-color: #999999;
$tabs-tab-color: #333333;
$tabs-tab-selected-color: #333333;
$tabs-tab-bg: #f7f7f7;
$tabs-tab-selected-bg: #ffffff;
$tabs-border-color: #dddddd;
$tabs-focused-border-color: #1192ec;
$tabs-tab-hover-bg: #ffffff;
$badge-color: #ffffff;
$badge-bg: #1192ec;
$overlay-content-bg: #ffffff;
$overlay-shader-bg: #ffffffcc;
$overlay-content-border-radius: 6px;
$textbox-search-icon-color: #999999;
$texteditor-color: #333333;
$texteditor-placeholder-color: #999999;
$texteditor-bg: #ffffff;
$texteditor-filled-bg: #3333330d;
$texteditor-border-color: #dddddd;
$texteditor-focused-border-color: #1192ec;
$texteditor-hover-border-color: #1192ec66;
$dropdowneditor-button-hover-bg: #e6e6e6;
$dropdowneditor-button-active-bg: #b3b3b3;
$dropdowneditor-icon-color: #333333;
$dropdowneditor-icon-active-color: #333333;
$dropdowneditor-icon-border-radius: 3px;
$numberbox-spin-active-bg: #b3b3b3;
$numberbox-spin-hover-border-color: transparent;
$numberbox-spin-icon-color: #333333;
$calendar-color: #333333;
$calendar-header-color: #333333;
$calendar-cell-other-color: #33333361;
$calendar-bg: #ffffff;
$calendar-hover-bg: #1192ec3d;
$calendar-cell-selected-bg: #1192ec;
$calendar-cell-active-bg: #1192ec66;
$loadindicator-bg: #606060;
$treeview-focused-bg: #1192ec;
$treeview-hover-bg: #0000000a;
$treeview-border-color: #dddddd;
$treeview-item-selected-color: #333333;
$treeview-spin-icon-color: #333333;
$menu-popup-bg: #ffffff;
$menu-item-hover-bg: #0000000a;
$menu-color: #333333;
$menu-item-hovered-color: #333333;
$menu-item-expanded-color: #333333;
$menu-item-selected-bg: #e6e6e6;
$menu-popup-border-color: #dddddd;
$selectbox-list-bg: #ffffff;
$toolbar-bg: #ffffff;
$popup-title-bg: transparent;
$tileview-color: #333333;
$toast-color: #ffffff;
$toast-info-bg: #1192ec;
$toast-warning-bg: #f0ad4e;
$toast-error-bg: #d9534f;
$toast-success-bg: #5cb85c;
$progressbar-bg: #dddddd;
$progressbar-range-bg: #1192ec;
$tooltip-color: #333333;
$tooltip-bg: #ffffff;
$tooltip-border-color: #dddddd;
$slider-bar-bg: #dddddd;
$slider-range-bg: #1192ec;
$gallery-indicator-bg: #ffffff;
$gallery-indicator-item-selected-bg: #1192ec;
$gallery-indicator-focused-bg: #0c66a5;
$gallery-navbutton-hover-color: #1192ec80;
$gallery-nav-arrow-color: #ffffff;
$gallery-navbutton-active-color: #1192ecb3;
$loadpanel-content-bg: #ffffff;
$tagbox-tag-color: #333333;
$tagbox-tag-bg: #dddddd;
$tagbox-tag-button-remove-bg: #aaaaaa;
$radiogroup-checked-bg: #1192ec;
$radiobutton-active-bg: #60606033;
$accordion-color: #333333;
$accordion-title-color: #333333;
$accordion-item-title-opened-bg: transparent;
$accordion-item-border-color: #dddddd;
$accordion-item-focused-border-color: #1192ec;
$accordion-title-active-color: #333333;
$accordion-item-hover-bg: #0000000a;
$colorbox-overlay-bg: #ffffff;
$datagrid-base-color: #333333;
$datagrid-base-background-color: #ffffff;
$datagrid-border-color: #dddddd;
$datagrid-columnchooser-item-color: #757575;
$datagrid-columnchooser-font-weight: normal;
$datagrid-drag-header-border-color: #1192ec80;
$datagrid-selection-bg: #e6e6e6;
$datagrid-row-selected-border-color: #dddddd;
$datagrid-row-selected-color: #333333;
$datagrid-row-focused-color: #333333;
$datagrid-row-focused-bg: #cfe9fb;
$datagrid-hover-bg: #0000000a;
$datagrid-menu-icon-color: #898989;
$datagrid-cell-modified-border-color: #5cb85c80;
$datagrid-row-invalid-faded-border-color: #d9534f66;
$datagrid-nodata-color: #333333;
$datagrid-group-row-color: #222222;
$datagrid-group-row-bg: #f7f7f7;
$datagrid-search-color: #ffffff;
$datagrid-spin-icon-color: #959595;
$datagrid-search-bg: #1192ec;
$datagrid-row-error-color: #ffffff;
$datagrid-row-error-bg: #e89895;
$datagrid-link-color: #1192ec;
$datagrid-focused-border-color: #41a8f0;
$datagrid-editor-bg: #ffffff;
$datagrid-columnchooser-bg: #ffffff;
$datagrid-row-alternation-bg: #f5f5f5;
$datagrid-summary-color: #333333b3;
$pager-page-selected-color: #333333;
$pager-page-selected-bg: #d4d4d4;
$pivotgrid-area-color: #959595;
$pivotgrid-totalcolor: #dddddd33;
$pivotgrid-grandtotalcolor: #f5f5f5;
$pivotgrid-field-area-text-color: #525252;
$pivotgrid-spin-icon-color: #959595;
$fileuploader-filename-color: #333333;
$fileuploader-falename-status-color: #999999;
$fileuploader-border-color: #dddddd;
$scheduler-base-border-color: #dddddd99;
$scheduler-accent-border-color: #c4c4c4;
$scheduler-appointment-text-color: #ffffff;
$scheduler-appointment-base-color: #1192ec;
$scheduler-appointment-start-color: #0000004d;
$scheduler-first-month-border-color: #aaaaaa;
$scheduler-workspace-focused-cell-color: #e5f3fd;
$scheduler-current-time-cell-color: #1192ec;
$scheduler-time-indicator-color: #57b3f3;
$form-field-item-color: #333333;
$form-group-border-color: #dddddd;
$filterbuilder-text-color: #333333;
$filterbuilder-text-focus-color: #ffffff;
$filterbuilder-plus-icon-color: #5cb85c4d;
$filterbuilder-remove-icon-color: #d9534f4d;
$filterbuilder-group-operation-color: #d9534f4d;
$filterbuilder-item-field-color: #1192ec4d;
$filterbuilder-item-operator-color: #5cb85c4d;
$filterbuilder-item-value-color: #dddddd80;
$filterbuilder-menu-icon-color: #333333;
$drawer-shader-background-color: #00000080;
