<dx-popup
  [width]="450"
  [height]="210"
  [showTitle]="true"
  title="Add Automation Input"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="visible"
  (visibleChange)="onVisibleChange()">
  <div class="form">
    <div class="dx-field">
      <div class="dx-field-label">Name</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="name"></dx-text-box>
      </div>
    </div>

    <div class="actions">
      <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="add()">Add Input</button>
    </div>
  </div>
</dx-popup>
