@if (stateComparison && sourceEnvironment && targetEnvironment) {
  <table
    mat-table
    matSort
    [dataSource]="serviceComparisons"
    class="mat-elevation-z3 environment-table"
    (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="service">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Service</th>
      <td mat-cell *matCellDef="let service">
        {{ service.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="source-run-id">
      <th mat-header-cell *matHeaderCellDef>{{ sourceEnvironment.name }} Run ID</th>
      <td
        mat-cell
        *matCellDef="let service"
        [class]="{ 'value-different': service.sourceRunId !== service.targetRunId }">
        {{ service.sourceRunId ? service.sourceRunId : '' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="source-version">
      <th mat-header-cell *matHeaderCellDef>{{ sourceEnvironment.name }} Version</th>
      <td
        mat-cell
        *matCellDef="let service"
        [class]="{ 'value-different': service.sourceVersion !== service.targetVersion }">
        {{ service.sourceVersion ? service.sourceVersion : '' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="target-run-id">
      <th mat-header-cell *matHeaderCellDef>{{ targetEnvironment.name }} Run ID</th>
      <td
        mat-cell
        *matCellDef="let service"
        [class]="{ 'value-different': service.sourceRunId !== service.targetRunId }">
        {{ service.targetRunId ? service.targetRunId : '' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="target-version">
      <th mat-header-cell *matHeaderCellDef>{{ targetEnvironment.name }} Version</th>
      <td
        mat-cell
        *matCellDef="let service"
        [class]="{ 'value-different': service.sourceVersion !== service.targetVersion }">
        {{ service.targetVersion ? service.targetVersion : '' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
} @else {
  <mat-spinner></mat-spinner>
}
