<div class="settings-form">
  <dx-tabs
    #dxTabs
    class="settings-tabs"
    [selectedIndex]="0"
    [dataSource]="settingsTabs"
    [width]="200"
    stylingMode="secondary"
    orientation="vertical"></dx-tabs>
  <div class="form">
    @if (settingsCompare) {
      @switch (dxTabs.selectedItem?.id) {
        @case ('slack') {
          <app-slack-form [slack]="settingsCompare.slack" [level]="level"></app-slack-form>
        }
        @case ('jira') {
          <app-jira-form [jira]="settingsCompare.jira" [level]="level"></app-jira-form>
        }
        @case ('deployment') {
          <app-deploy-form [settingsCompare]="settingsCompare" [level]="level"></app-deploy-form>
        }
        @default {
          <div class="field-group">
            <div class="environments-header">
              <h3 class="form-title">Environments</h3>
              <div class="environments-actions">
                <dx-button
                  text="Add Environment"
                  type="default"
                  stylingMode="outlined"
                  (onClick)="showAddEnvironmentDialog()"></dx-button>
              </div>
            </div>
            @if (level === 'repo') {
              <div class="environment-info">
                <p>
                  @if (!hasEnvironments) {
                    No environment overrides added for this repository yet.
                  }
                </p>
              </div>
            }
            <dx-accordion
              [dataSource]="bindingEnvironments"
              [collapsible]="false"
              [multiple]="false"
              id="accordion-container">
              <div *dxTemplate="let environment of 'title'">
                <div class="accordion-header {{ hasEnvironments ? '' : 'environments-disabled' }}">
                  {{ environment.name }}
                </div>
              </div>
              <div *dxTemplate="let environment of 'item'">
                <app-environment-form
                  [environment]="environment"
                  [hasEnvironments]="hasEnvironments"
                  [level]="level"></app-environment-form>
              </div>
            </dx-accordion>
          </div>
        }
      }
    }
  </div>

  @if (loading) {
    <div class="loading">
      <div>
        <dx-load-indicator class="loading" [width]="80" [height]="80"></dx-load-indicator>
        <span>Loading...</span>
      </div>
    </div>
  }
</div>
<app-add-environment-dialog
  [(visible)]="addEnvironmentVisible"
  (addEnvironment)="addEnvironment($event)"></app-add-environment-dialog>
