@import '../../../sass/variables';

.settings-form {
  display: flex;
}

::ng-deep .settings-form .form-title {
    margin-top: 0;
}

.settings-tabs {
  margin: 5px 20px 0 0;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

::ng-deep .settings-form {
  .dx-accordion-item-title, .dx-accordion-item-opened.dx-state-hover .dx-accordion-item-title  {
    background-color: $gray-200;
    text-transform: capitalize;
  }

  .dx-tabs-vertical .dx-tab {
    padding: 12px;
  }
}
