<div class="settings-container">
  <mat-selection-list
    class="mat-elevation-z3 settings-left-nav"
    [multiple]="false"
    [hideSingleSelectionIndicator]="true"
    (selectionChange)="settingsNavChange($event)"
    #settingsNav>
    @for (tab of settingsTabs; track tab.id) {
      <mat-list-option [value]="tab.id">
        <div class="settings-menu-item{{ tab.id === activeTabId ? ' settings-nav-selected' : '' }}">
          <mat-icon>{{ tab.icon }}</mat-icon
          ><span>{{ tab.text }} </span>
        </div>
      </mat-list-option>
    }
  </mat-selection-list>
  <div class="settings-form">
    @if (settingsCompare) {
      @switch (settingsNav.selectedOptions.selected[0].value) {
        @case ('slack') {
          <app-slack-form [slack]="settingsCompare.slack" [level]="level"></app-slack-form>
        }
        @case ('jira') {
          <app-jira-form [jira]="settingsCompare.jira" [level]="level"></app-jira-form>
        }
        @case ('deployment') {
          <app-deploy-form [settingsCompare]="settingsCompare" [level]="level"></app-deploy-form>
        }
        @default {
          <div class="field-group">
            <div class="environments-header">
              <h3 class="form-title">Environments</h3>
              <div class="environments-actions">
                <button mat-stroked-button color="primary" title="Add environment" (click)="showAddEnvironmentDialog()">
                  Add Environment
                </button>
              </div>
            </div>
            @if (level === 'repo' && !hasEnvironments) {
              <div class="environment-info">
                <p>No environment overrides added for this repository yet.</p>
              </div>
            }
            <dx-accordion
              [dataSource]="bindingEnvironments"
              [collapsible]="false"
              [multiple]="false"
              id="accordion-container">
              <div *dxTemplate="let environment of 'title'">
                <div class="accordion-header {{ hasEnvironments ? '' : 'environments-disabled' }}">
                  <span>{{ environment.name }}</span>
                  <button
                    mat-icon-button
                    color="warn"
                    class="remove-environment"
                    title="Remove environment"
                    (click)="removeEnvironment(environment.name)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
              <div *dxTemplate="let environment of 'item'">
                <app-environment-form
                  [environment]="environment"
                  [hasEnvironments]="hasEnvironments"
                  [level]="level"></app-environment-form>
              </div>
            </dx-accordion>
          </div>
        }
      }
    }
  </div>

  @if (loading) {
    <mat-spinner></mat-spinner>
  }
</div>
