<h2>
  Enabled Repositories
  <button mat-icon-button title="Refresh" color="accent" (click)="updateOwnerRepos()">
    <mat-icon>sync</mat-icon>
  </button>
</h2>

@if (displayAddRepos) {
  <div class="add-repos-banner">
    <i class="bi bi-exclamation-triangle"></i>
    <p>Add at least one GitHub repository to get started.</p>
  </div>
}

<app-repositories-grid
  [ownerRepos]="ownerRepos"
  (showAddRepo)="showAddRepo($event)"
  (onRemoveRepo)="removeRepo($event)"></app-repositories-grid>

<div class="page-actions">
  <button mat-stroked-button color="primary" class="add-service-pr-btn" (click)="showAddRepo()">Add Repository</button>
</div>
