<h2>
  Enabled Repositories
  <button mat-icon-button title="Refresh" class="mat-accent" (click)="updateOwnerRepos()">
    <mat-icon>sync</mat-icon>
  </button>
</h2>

@if (!hasRepos && !loading) {
  <app-alert-panel type="warning"> Add at least one GitHub repository to get started. </app-alert-panel>
}

@if (hasRepos) {
  <app-repositories-grid
    [ownerRepos]="ownerRepos"
    (showAddRepo)="showAddRepo($event)"
    (onRemoveRepo)="removeRepo($event)"></app-repositories-grid>
}

<div class="page-actions">
  <button mat-stroked-button class="mat-primary" class="add-service-pr-btn" (click)="showAddRepo()">
    Add Repository
  </button>
</div>
