@import '../../../sass/variables';

.mat-column-environment {
  width: 125px;
  text-align: center;
}

.mat-column-locked {
  width: 36px;
  text-align: center;
  color: $gray-500;
}

.mat-column-updated-at {
  width: 145px;
}

.mat-column-user {
  width: 140px;
}

.mat-column-url {
  width: 225px;
}

.mat-column-actions {
  width: 155px;
}

.deploy-environment {
  color: $white;
  font-size: 11px;
  font-weight: $font-weight-bold;
  text-decoration: none;
  line-height: 20px;
  border-radius: 3px;
  padding: 5px;
  display: block;
  width: 100%;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.environment-unknown {
  text-transform: uppercase;
  color: $gray-600;
}

.environment-actions {
  display: flex;
  justify-content: flex-end;
}
