@import '../../../sass/variables';

.repositories-list {
  max-width: 500px;;
}


.mat-mdc-subheader {
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
}

.repositories-list-item {
  display: flex;
  align-items: center;

  .mat-mdc-icon-button {
    margin-left: auto;
  }

  .mat-mdc-list-item-icon {
    color: $gray-300;
  }
}
