<mat-list class="mat-elevation-z3 repositories-list">
  @for (owner of owners; track owners) {
    <div mat-subheader class="repositories-list-item">
      <span>{{ owner }}</span>
      <button mat-icon-button class="mat-success" title="Add repository" (click)="addRepo(owner)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    @for (repository of repositories; track repository) {
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle class="repositories-list-item">
          <span>{{ repository.repo }}</span>
          <button mat-icon-button class="mat-warn" title="Remove repository" (click)="removeRepo(repository)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-list-item>
    }
  }
</mat-list>
