<dx-data-grid
  class="repositories-grid"
  [dataSource]="repositories"
  keyExpr="repo"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  [width]="500">
  <dxi-column dataField="repo" caption="Repository" dataType="string"></dxi-column>
  <dxi-column dataField="owner" dataType="string" [groupIndex]="0" groupCellTemplate="ownerCellTemplate"></dxi-column>
  <div *dxTemplate="let d of 'ownerCellTemplate'">
    <div class="owner-cell">
      <span>{{ d.value }}</span>
      <button mat-icon-button color="success" title="Add repository" (click)="addRepo(d.value)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <dxi-column caption="Actions" dataType="object" [width]="80" cellTemplate="actionsCellTemplate"></dxi-column>
  <div *dxTemplate="let d of 'actionsCellTemplate'">
    <button mat-icon-button color="warn" title="Remove repository" (click)="removeRepo(d.value)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</dx-data-grid>
