<div class="field-group">
  <h3 class="form-title">Slack</h3>
  <div class="field field-checkbox">
    <label>Notifications enabled</label>
    <div class="field-value">
      <dx-check-box [(value)]="slack.notificationsEnabled[level]"></dx-check-box>
    </div>
  </div>
  <div class="field">
    <label>Token</label>
    <div class="field-value">
      <dx-text-box
        [(value)]="slack.token[level]"
        [placeholder]="showOwner ? slack.token['owner'] : ''"
        [(mode)]="tokenPasswordMode">
        <dxi-button name="today" location="after" [options]="tokenButton"></dxi-button>
      </dx-text-box>
    </div>
  </div>
  <div class="field">
    <label>Email domain</label>
    <div class="field-value">
      <dx-text-box
        [(value)]="slack.emailDomain[level]"
        [placeholder]="showOwner ? slack.emailDomain['owner'] : ''"></dx-text-box>
    </div>
  </div>
</div>
<div class="field-group">
  <h3 class="form-group-title">Webhooks</h3>
  <div class="field">
    <label>Deploy URL</label>
    <div class="field-value">
      <dx-text-box
        [(value)]="slack.webhooks.deployUrl[level]"
        [placeholder]="showOwner ? slack.webhooks.deployUrl['owner'] : ''"></dx-text-box>
    </div>
  </div>
  <div class="field">
    <label>Release URL</label>
    <div class="field-value">
      <dx-text-box
        [(value)]="slack.webhooks.releaseUrl[level]"
        [placeholder]="showOwner ? slack.webhooks.releaseUrl['owner'] : ''"></dx-text-box>
    </div>
  </div>
</div>
<div class="slack-email-aliases">
  <app-slack-email-aliases-grid [slack]="slack" [level]="level"></app-slack-email-aliases-grid>
</div>
