@import '../../../sass/variables';

:host {
  display: block;
  width: 100%;
}

.environment-settings .add-items {
  max-width: 500px;
  margin-left: 12px;
}

.add-items-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 220px;

  span {
    flex: 1 1 auto;
  }
}

.exclude-rollback-list {
  max-width: 235px;
  margin-left: 12px;
}

.mat-column-value {
  padding-right: 0;
}

.mat-column-remove {
  width: 30px;
}

.add-item-input-field {
  width: 100%;
}

.field-removable {
  display: flex;
}

.exclude-rollback-field {
  margin-top: 5px;

  label {
    margin-left: 165px;
    width: 145px;
  }
}

.field-group-title {
  border-bottom: solid 1px $border-color;
}
