.environment-settings .test-workflow-inputs {
  margin-top: 20px;
  display: block;
  margin-left: 10px;

  label {
    margin-left: 15px;
  }
}
.add-workflow-input-btn {
  margin-left: 22px;
}

.field-removable {
  display: flex;
}
