<div class="environment-settings">
  <div class="field-group field-group-horizontal">
    <h4 class="field-group-title">General</h4>
    <div class="field">
      <label>Name</label>
      <div class="field-value">
        <dx-text-box [(value)]="environment.name" [disabled]="!hasEnvironments"></dx-text-box>
      </div>
    </div>
    <div class="field">
      <label>Queue</label>
      <div class="field-value">
        <dx-text-box [(value)]="environment.queue" [disabled]="!hasEnvironments"></dx-text-box>
      </div>
    </div>
    <div class="field">
      <label>URL</label>
      <div class="field-value">
        <dx-text-box [(value)]="environment.url" [disabled]="!hasEnvironments"></dx-text-box>
      </div>
    </div>
    <div class="field">
      <label>Require approval</label>
      <div class="field-value">
        <dx-check-box [(value)]="environment.requireApproval" [disabled]="!hasEnvironments"></dx-check-box>
      </div>
    </div>
    <div class="field">
      <label>Require branch up to date</label>
      <div class="field-value">
        <dx-check-box [(value)]="environment.requireBranchUpToDate" [disabled]="!hasEnvironments"></dx-check-box>
      </div>
    </div>
    <div class="add-items">
      <span>Exclude from rollback</span>
      <dx-button
        class="add-item-input-btn success-icon-btn exclude-rollback"
        icon="add"
        stylingMode="text"
        (onClick)="showAddExcludeRollbackService()"
        hint="Add service to exclude"
        [disabled]="!hasEnvironments"></dx-button>
    </div>
    @for (item of environment.excludeFromRollback; track item) {
      <div class="field exclude-rollback-field">
        <label>{{ item }}</label>
        <div class="field-value field-removable">
          <dx-button
            class="add-workflow-input-btn danger-icon-btn"
            icon="remove"
            stylingMode="text"
            (onClick)="removeExcludeRollbackService(item)"
            hint="Remove service to exclude"
            [disabled]="!hasEnvironments"></dx-button>
        </div>
      </div>
    }
  </div>

  <div class="field-group field-group-horizontal">
    <h4 class="field-group-title">Automation Test</h4>
    <div class="field">
      <label>Enabled</label>
      <div class="field-value">
        <dx-check-box [(value)]="environment.automationTest.enabled" [disabled]="!hasEnvironments"></dx-check-box>
      </div>
    </div>
    <div class="field">
      <label>GitHub workfow</label>
      <div class="field-value">
        <dx-text-box [(value)]="environment.automationTest.workflow" [disabled]="!hasEnvironments"></dx-text-box>
      </div>
    </div>
    <div class="add-items">
      <div>
        <span>Workflow inputs</span>
        <dx-button
          class="add-item-input-btn success-icon-btn"
          icon="add"
          stylingMode="text"
          (onClick)="showAddAutomationInput()"
          hint="Add workflow input"
          [disabled]="!hasEnvironments"></dx-button>
      </div>
      @for (item of environment.automationTest.inputs | keyvalue; track item.key) {
        <div class="field">
          <label>{{ item.key }}</label>
          <div class="field-value field-removable">
            <dx-text-box
              [value]="item.value?.toString()"
              (onValueChanged)="updateAutomationInput($event, item.key)"
              [disabled]="!hasEnvironments"></dx-text-box>
            <dx-button
              class="add-workflow-input-btn danger-icon-btn"
              icon="remove"
              stylingMode="text"
              (onClick)="removeAutomationInput(item.key)"
              hint="Add workflow input"
              [disabled]="!hasEnvironments"></dx-button>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<app-add-automation-input-dialog
  [(visible)]="addAutomationInputVisible"
  (addInput)="addAutomationInput($event)"></app-add-automation-input-dialog>

<app-add-exclude-rollback-service-dialog
  [(visible)]="addExcludeRollbackServiceVisible"
  (addInput)="addExcludeRollbackService($event)"></app-add-exclude-rollback-service-dialog>
