@import '../../../sass/variables';

:host {
  display: block;
  width: 100%;
}

.environment-settings .test-workflow-inputs {
  margin-top: 20px;
  display: block;
  margin-left: 10px;

  label {
    margin-left: 15px;
  }
}
.add-workflow-input-btn {
  margin-left: 22px;
}

.field-removable {
  display: flex;
}

.field-group-title {
  font-weight: normal;
  border-bottom: solid 1px $border-color;
  padding-bottom: 10px;
}
