<div class="environment-settings">
  <form>
    <h4 class="field-group-title">General</h4>
    <div class="field-section">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="environment.name" name="name" [disabled]="!hasEnvironments" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Queue</mat-label>
        <input matInput type="text" [(ngModel)]="environment.queue" name="queue" [disabled]="!hasEnvironments" />
      </mat-form-field>

      <mat-form-field class="form-field-2x">
        <mat-label>URL</mat-label>
        <input matInput type="text" [(ngModel)]="environment.url" name="url" [disabled]="!hasEnvironments" />
      </mat-form-field>

      <div class="field-section">
        <mat-checkbox [(ngModel)]="environment.requireApproval" name="requireApproval" [disabled]="!hasEnvironments">
          Require approval
        </mat-checkbox>

        <mat-checkbox
          [(ngModel)]="environment.requireBranchUpToDate"
          name="requireBranchUpToDate"
          [disabled]="!hasEnvironments">
          Require branch up to date
        </mat-checkbox>
      </div>
    </div>

    <div class="add-items">
      <div class="add-items-label">
        <span>Exclude from rollback</span>
        <button
          mat-icon-button
          color="success"
          class="add-item-input-btn"
          title="Add service to exclude"
          (click)="showAddExcludeRollbackService()"
          [disabled]="!hasEnvironments">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <mat-chip-listbox class="exclude-rollback-list mat-mdc-chip-set-stacked">
      @for (item of environment.excludeFromRollback; track item) {
        <mat-chip-option removable="true">
          {{ item }}
          <button matChipRemove class="mat-warn" (click)="removeExcludeRollbackService(item)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-option>
      }
    </mat-chip-listbox>

    <h4 class="field-group-title">Automation Test</h4>
    <div class="field-section">
      <mat-checkbox
        [(ngModel)]="environment.automationTest.enabled"
        name="automationTestEnabled"
        [disabled]="!hasEnvironments"
        >Enabled</mat-checkbox
      >

      <mat-form-field class="form-field-2x">
        <mat-label>GitHub workfow</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="environment.automationTest.workflow"
          name="automationTestWorkflow"
          [disabled]="!hasEnvironments" />
      </mat-form-field>
    </div>

    <div class="add-items">
      <div class="add-items-label">
        <span>Workflow inputs</span>
        <button
          mat-icon-button
          color="success"
          class="add-item-input-btn exclude-rollback"
          title="Add workflow input"
          (click)="showAddAutomationInput()"
          [disabled]="!hasEnvironments">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      @if (environment.automationTest?.inputs && Object.keys(environment.automationTest.inputs).length > 0) {
        <table mat-table [dataSource]="environment.automationTest.inputs | keyvalue" class="mat-elevation-z2">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let input">
              <label>{{ input.key }}</label>
            </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let input">
              <mat-form-field class="small-form-field no-wrapper add-item-input-field">
                <input
                  matInput
                  type="text"
                  [value]="input.value"
                  [disabled]="!hasEnvironments"
                  (change)="automationInputChange($event, input.key)"
                  required
                  name="automationInputValue" />
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let input">
              <button
                mat-icon-button
                color="warn"
                class="add-workflow-input-btn exclude-rollback"
                title="Remove workflow input"
                (click)="removeAutomationInput(input.key)"
                [disabled]="!hasEnvironments">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="automationInputColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: automationInputColumns"></tr>
        </table>
      }
    </div>
  </form>
</div>
