/* You can add global styles to this file, and also import other style files */

@import './sass/variables';

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.dx-toast-message {
  white-space: pre-line;
}

.refresh-btn {
  margin-left: 8px;

  .dx-icon-refresh::before {
    color: $blue-300;
  }
}
