/* You can add global styles to this file, and also import other style files */

@import './sass/variables';

html, body { height: 100%; }
body { margin: 0; }

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.page-actions {
  margin-top: 60px;
  display: flex;
}

.fill-width {
  width: 100%;
}

.mat-mdc-form-field-icon-suffix > .clear-field-btn {
  margin-right: -18px;
  color: $danger;
}
