<form>
  <h4 class="field-group-title">Comment Badge Colors</h4>
  <div class="field-section">
    <mat-form-field>
      <mat-label>Error</mat-label>
      <input
        matInput
        [(ngModel)]="badge.statusColors.error[level]"
        [mtxColorpicker]="picker"
        [placeholder]="showOwner ? badge.statusColors.error['owner'] : ''"
        format="hex"
        name="error" />
      <mtx-colorpicker-toggle matSuffix [for]="picker"></mtx-colorpicker-toggle>
      <mtx-colorpicker #picker></mtx-colorpicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Warn</mat-label>
      <input
        matInput
        [(ngModel)]="badge.statusColors.warn[level]"
        [mtxColorpicker]="warnPicker"
        [placeholder]="showOwner ? badge.statusColors.warn['owner'] : ''"
        [format]="'hex'"
        name="warn" />
      <mtx-colorpicker-toggle matSuffix [for]="warnPicker"></mtx-colorpicker-toggle>
      <mtx-colorpicker #warnPicker></mtx-colorpicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Success</mat-label>
      <input
        matInput
        [(ngModel)]="badge.statusColors.success[level]"
        [mtxColorpicker]="successPicker"
        [placeholder]="showOwner ? badge.statusColors.success['owner'] : ''"
        [format]="'hex'"
        name="success" />
      <mtx-colorpicker-toggle matSuffix [for]="successPicker"></mtx-colorpicker-toggle>
      <mtx-colorpicker #successPicker></mtx-colorpicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Info</mat-label>
      <input
        matInput
        [(ngModel)]="badge.statusColors.info[level]"
        [mtxColorpicker]="infoPicker"
        [placeholder]="showOwner ? badge.statusColors.info['owner'] : ''"
        [format]="'hex'"
        name="info" />
      <mtx-colorpicker-toggle matSuffix [for]="infoPicker"></mtx-colorpicker-toggle>
      <mtx-colorpicker #infoPicker></mtx-colorpicker>
    </mat-form-field>
  </div>
</form>
