<form>
  <h3 class="form-title">Deployment</h3>

  <div class="field-section">
    <mat-form-field class="form-field-2x">
      <mat-label>prdeploy portal URL</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="settingsCompare.prdeployPortalUrl[level]"
        [placeholder]="showOwner ? settingsCompare.prdeployPortalUrl['owner'] : ''"
        name="prdeployPortalUrl" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>GitHub workflow</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="settingsCompare.deployWorkflow[level]"
        [placeholder]="showOwner ? settingsCompare.deployWorkflow['owner'] : ''"
        name="githubWorkflow" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Default Environment</mat-label>
      <mat-select
        [placeholder]="showOwner ? settingsCompare.defaultEnvironment['owner'] : ''"
        [(ngModel)]="settingsCompare.defaultEnvironment[level]"
        name="defaultEnvironment">
        @for (environment of environments; track environment) {
          <mat-option [value]="environment">{{ environment }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Release Environment</mat-label>
      <mat-select
        [placeholder]="showOwner ? settingsCompare.releaseEnvironment['owner'] : ''"
        [(ngModel)]="settingsCompare.releaseEnvironment[level]"
        name="releaseEnvironment">
        @for (environment of environments; track environment) {
          <mat-option [value]="environment">{{ environment }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Builds check pattern</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="settingsCompare.builds.checkPattern[level]"
        [placeholder]="showOwner ? settingsCompare.builds.checkPattern['owner'] : ''"
        name="buildsCheckPattern" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Builds workflow pattern</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="settingsCompare.builds.workflowPattern[level]"
        [placeholder]="showOwner ? settingsCompare.builds.workflowPattern['owner'] : ''"
        name="buildsWorkflowPattern" />
    </mat-form-field>
  </div>
</form>
<app-badge-form [badge]="settingsCompare.badge" [level]="level"></app-badge-form>
