<div class="field-group">
  <h3 class="form-title">Deployment</h3>
  <div class="field">
    <label>GitHub workflow</label>
    <div class="field-value">
      <dx-text-box
        class="field-value"
        [(value)]="settingsCompare.deployWorkflow[level]"
        [placeholder]="showOwner ? settingsCompare.deployWorkflow['owner'] : ''"></dx-text-box>
    </div>
  </div>
  <div class="field">
    <label>prdeploy portal URL</label>
    <div class="field-value">
      <dx-text-box
        class="field-value"
        [(value)]="settingsCompare.prdeployPortalUrl[level]"
        [placeholder]="showOwner ? settingsCompare.prdeployPortalUrl['owner'] : ''"></dx-text-box>
    </div>
  </div>
  <div class="field">
    <label>Default Environment</label>
    <div class="field-value">
      <dx-select-box
        [placeholder]="showOwner ? settingsCompare.defaultEnvironment['owner'] : ''"
        [dataSource]="environments"
        [searchEnabled]="true"
        [contentEditable]="true"
        [(value)]="settingsCompare.defaultEnvironment[level]">
      </dx-select-box>
    </div>
  </div>
  <div class="field">
    <label>Release Environment</label>
    <div class="field-value">
      <dx-select-box
        [placeholder]="showOwner ? settingsCompare.releaseEnvironment['owner'] : ''"
        [dataSource]="environments"
        [searchEnabled]="true"
        [contentEditable]="true"
        [(value)]="settingsCompare.releaseEnvironment[level]">
      </dx-select-box>
    </div>
  </div>
  <div class="field">
    <label>Builds check pattern</label>
    <div class="field-value">
      <dx-text-box
        class="field-value"
        [(value)]="settingsCompare.builds.checkPattern[level]"
        [placeholder]="showOwner ? settingsCompare.builds.checkPattern['owner'] : ''"></dx-text-box>
    </div>
  </div>
  <div class="field">
    <label>Builds workflow pattern</label>
    <div class="field-value">
      <dx-text-box
        class="field-value"
        [(value)]="settingsCompare.builds.workflowPattern[level]"
        [placeholder]="showOwner ? settingsCompare.builds.workflowPattern['owner'] : ''"></dx-text-box>
    </div>
  </div>
</div>
<app-badge-form [badge]="settingsCompare.badge" [level]="level"></app-badge-form>
