<dx-popup
  [width]="400"
  [height]="260"
  [showTitle]="true"
  title="Rollback {{ environment }}"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="visible"
  (visibleChange)="onVisibleChange()">
  <div class="form">
    <div class="dx-fieldset">
      <div class="dx-field-label">Rollback count</div>
      <div class="dx-field-value">
        <dx-number-box [min]="1" [(value)]="rollbackCount"></dx-number-box>
      </div>
    </div>
    <div class="rollback-actions">
      <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="rollback()" [disabled]="processing">Rollback</button>
    </div>
  </div>
</dx-popup>
