<form>
  <h3 class="form-title">JIRA</h3>
  <mat-checkbox [(ngModel)]="jira.addIssuesEnabled[level]" name="addIssuesEnabled"> Add issues enabled </mat-checkbox>

  <div class="field-section">
    <mat-form-field>
      <mat-label>Host</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="jira.host[level]"
        [placeholder]="showOwner ? jira.host['owner'] : ''"
        name="host" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="jira.username[level]"
        [placeholder]="showOwner ? jira.username['owner'] : ''"
        name="username" />
    </mat-form-field>

    <mat-form-field class="form-field-2x">
      <mat-label>Token</mat-label>
      <input
        matInput
        appRevealPassword
        type="password"
        [(ngModel)]="jira.password[level]"
        [placeholder]="showOwner ? (jira.password['owner'] ? '********' : '') : ''"
        name="password" />
      <button mat-icon-button matSuffix>
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>
