<div>
  <div class="field-group">
    <h3 class="form-title">JIRA</h3>
    <div class="field field-checkbox">
      <label>Add issues enabled</label>
      <div class="field-value">
        <dx-check-box [(value)]="jira.addIssuesEnabled[level]"></dx-check-box>
      </div>
    </div>
    <div class="field">
      <label>Host</label>
      <div class="field-value">
        <dx-text-box [(value)]="jira.host[level]" [placeholder]="showOwner ? jira.host['owner'] : ''"></dx-text-box>
      </div>
    </div>
    <div class="field">
      <label>Username</label>
      <div class="field-value">
        <dx-text-box
          [(value)]="jira.username[level]"
          [placeholder]="showOwner ? jira.username['owner'] : ''"></dx-text-box>
      </div>
    </div>
    <div class="field">
      <label>Password (Token)</label>
      <div class="field-value">
        <dx-text-box
          [(value)]="jira.password[level]"
          [placeholder]="showOwner ? (jira.password['owner'] ? '********' : '') : ''"
          [(mode)]="passwordMode">
          <dxi-button name="today" location="after" [options]="passwordButton"></dxi-button>
        </dx-text-box>
      </div>
    </div>
  </div>
</div>
