# Get these from GitHub App.
APP_ID="<GitHub App ID>"
WEBHOOK_SECRET="<GitHub App Webhook Secret>"
gh_app_key.pem="../prdeploy-webhooks/gh-app-key-local.pem"

# Get these from GitHub OAuth App.
GitHubAuth__ClientId=""
GitHubAuth__ClientSecret=""

# Any string that is at least 16 characters long.
Jwt__Key=""
Jwt__TokenEncryptionKey=""

# AWS IAM user credentials.
AWS_DEFAULT_PROFILE="prdeploy"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-west-2"
AWS_OUTPUT="yaml"