@if (isAuthenticated) {
  <app-header (menuToggle)="toggleMenu()"></app-header>
}
<mat-drawer-container
  class="app-container sidenav-{{ sideNavMode }}"
  [ngClass]="{ 'sidenav-mobile': isMobile, 'sidenav-hidden': sideNavHidden }"
  [hasBackdrop]="hasBackdrop">
  @if (isAuthenticated) {
    <mat-drawer #drawer class="app-sidenav" [mode]="drawerMode" opened>
      <app-side-navigation-menu></app-side-navigation-menu>
    </mat-drawer>
  } @else {
    <mat-drawer #drawer></mat-drawer>
  }

  <div class="page-content{{ isAuthenticated ? ' page-authenticated' : '' }}">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</mat-drawer-container>
