@import '../../../sass/variables';

h4 {
  margin: 10px;
}

a {
  text-decoration: none;
}

.pull-user {
  font-weight: $font-weight-bold;
}

.pull-dragging {
  background-color: $white;
  box-shadow: var(--mat-app-elevation-shadow-level-3, none);
  border-radius: 5px;
}

.queue-pull {
  display: flex;
  align-items: center;
}

.queue-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
}

.queue-pull-title {
  flex: 1;
  display: flex;
}

.queue-pull-delete {
  margin-left: 20px;
}

.queue-order {
  background-color: $blue-500;
  color: $white;
  font-size: 14px;
  font-weight: $font-weight-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
}

.add-pull-row {
  display: flex;
}

.add-pull-select {
  flex: 1;
}

.add-pull-field {
  flex: 1 1 auto;
}

.pull-head {
  display: flex;
}

.pull-user {
  font-weight: $font-weight-bold;
  flex: 1;
}
