@if (queue) {
  <dx-list
    id="{{ queue.environment.toLowerCase() }}-queue-list"
    [dataSource]="queue.pullRequests"
    height="100%"
    [indicateLoading]="true"
    selectionMode="none"
    [activeStateEnabled]="false"
    [focusStateEnabled]="false"
    (onItemReordered)="onItemReordered($event)">
    <dxo-item-dragging [allowReordering]="true"></dxo-item-dragging>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <div *dxTemplate="let pullRequest of 'item'; let queueIndex = index" class="queue-pull">
      <div class="queue-pull-title">
        <span class="queue-order">{{ queueIndex + 1 }}</span>
        <a id="pr-queue-{{ pullRequest.number }}" [href]="pullRequest.url" target="_blank">#{{ pullRequest.number }}</a>
        &nbsp;&nbsp;<span>{{ pullRequest.title }}</span>
      </div>
      <span class="queue-pull-updated">{{ pullRequest.updatedAt | date: 'short' }}</span>
      <button mat-icon-button color="warn" title="Remove from queue" (click)="remove(pullRequest)">
        <mat-icon>close</mat-icon>
      </button>
      <app-pull-request-popover
        [pullRequest]="pullRequest"
        target="#pr-queue-{{ pullRequest.number }}"></app-pull-request-popover>
    </div>
  </dx-list>
}

<div class="add-pull-row">
  <dx-select-box
    #pullSelectBox
    placeholder="Add pull request"
    class="add-pull-select"
    [dataSource]="openPullRequests"
    [displayExpr]="pullRequestDisplayExpr"
    valueExpr="number"
    [searchEnabled]="true"
    [minSearchLength]="2"
    [showDataBeforeSearch]="true">
  </dx-select-box>
  <button
    mat-icon-button
    color="success"
    title="Add to queue"
    (click)="add(pullSelectBox.selectedItem)"
    [disabled]="!pullSelectBox.selectedItem">
    <mat-icon>add</mat-icon>
  </button>

  <dx-load-panel [visible]="loading" [position]="{ of: queue?.environment + '-queue-list', offset: { y: 230 } }">
  </dx-load-panel>
</div>
