@if (queue) {
  <mat-list role="list" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="drop($event)">
    @for (pullRequest of pullData; track pullRequest.number) {
      <mat-list-item role="listitem" cdkDrag cdkDragPreviewClass="pull-dragging">
        <div class="queue-pull">
          <div class="queue-pull-title">
            <span class="queue-order">{{ $index + 1 }}</span>
            <a
              id="pr-queue-{{ pullRequest.number }}"
              #popoverTrigger="mtxPopoverTrigger"
              [mtxPopoverTriggerFor]="popover"
              [mtxPopoverTriggerData]="{ pullRequest }"
              [href]="pullRequest.url"
              target="_blank"
              >#{{ pullRequest.number }}</a
            >
            &nbsp;&nbsp;<span>{{ pullRequest.title }}</span>
          </div>
          <span class="queue-pull-updated">{{ pullRequest.updatedAt | date: 'short' }}</span>
          <button mat-icon-button color="warn" title="Remove from queue" (click)="remove(pullRequest)">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button title="Reorder">
            <mat-icon>drag_indicator</mat-icon>
          </button>
        </div>
      </mat-list-item>
    }
  </mat-list>

  <mtx-popover #popover="mtxPopover">
    <ng-template mtxPopoverContent let-pullRequest="pullRequest">
      <div style="max-width: 300px">
        <div class="pull-head">
          <span class="pull-user">{{ pullRequest.user?.name }}</span>
          <span>{{ pullRequest.updatedAt | date: 'short' }}</span>
        </div>
        <markdown [data]="pullRequest.body | cleanMarkdown" [disableSanitizer]="true"> </markdown>
      </div>
    </ng-template>
  </mtx-popover>
}

<div class="add-pull-row">
  <mat-form-field class="add-pull-field">
    <input
      #input
      type="text"
      [formControl]="pullRequestControl"
      placeholder="Add pull request"
      matInput
      [matAutocomplete]="auto" />
    @if (pullRequestToAdd) {
      <button mat-icon-button matSuffix class="clear-field-btn" (click)="clearPullRequest($event)">
        <mat-icon matSuffix>close</mat-icon>
      </button>
    }
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="formatPullRequest"
      (optionSelected)="selectPullRequest($event)">
      @for (pullRequest of openPullRequests; track pullRequest.number) {
        <mat-option [value]="pullRequest">
          {{ formatPullRequest(pullRequest) }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button
    mat-icon-button
    color="success"
    title="Add to queue"
    (click)="add(pullRequestToAdd)"
    [disabled]="!pullRequestToAdd">
    <mat-icon>add</mat-icon>
  </button>

  @if (loading) {
    <mat-spinner class="queue-spinner"></mat-spinner>
  }
</div>
