<h2 mat-dialog-title>Rollback {{ data.environment }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Rollback count</mat-label>
      <input matInput type="number" [min]="1" formControlName="rollbackCount" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button class="mat-primary" (click)="cancel()">Cancel</button>
  <button mat-flat-button class="mat-primary" (click)="rollback()" [loading]="processing" [disabled]="processing">
    Rollback
  </button>
</mat-dialog-actions>
