<dx-popup
  [width]="450"
  [height]="350"
  [showTitle]="true"
  title="Force Deploy {{ environment }}"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="visible"
  (visibleChange)="onVisibleChange()">
  <div class="form">
    <p>Choose a pull request to force to {{ environment }}:</p>
    <dx-select-box
      #selectPullRequest
      placeholder="Select pull request"
      class="add-pull-select"
      [dataSource]="openPullRequests"
      [displayExpr]="pullRequestDisplayExpr"
      valueExpr="number"
      [searchEnabled]="true"
      [minSearchLength]="2"
      [showDataBeforeSearch]="true"
      [(selectedItem)]="selectedPullRequest">
    </dx-select-box>
    <div class="dx-fieldset">
      <div class="dx-field-label">Retain locks</div>
      <div class="dx-field-value">
        <dx-check-box [(value)]="retainLocks"></dx-check-box>
      </div>
    </div>
    <div class="deploy-actions">
      <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
      <button mat-flat-button color="primary" (click)="forceDeploy()" [disabled]="!selectedPullRequest || processing">
        Deploy
      </button>
    </div>
  </div>
</dx-popup>
